<section class="contactSection displayCenter">
  <h3 class="nameHigh">CONTACT</h3>
  <p class="contactStatement">I am interested in new development opportunities and projects. If I can be of any assistance or you require any further information, please do not hesitate to contact me.</p>
  <div class="myContact">
    <article class="contactSectionLeft">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <p class="nameHigh">CONTACT FORM</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="phone" type="text" class="validate">
              <label for="phone">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="text" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
                <a class="waves-effect waves-light btn">SUBMIT</a>
            </div>
          </div>
        </form>
      </div>
    </article>
    <article class="contactSectionRight">
      <div class="contactDetails">
        <div>
          <img src="./assets/icons/location-pin.svg" alt="mail icon" class="normalIcons"/>
        </div>
        <p>Mississauga, ON, Canada.</p>
      </div>
      <a href="mailto:jamwalab@live.com" rel="noreferrer" class="contactDetails">
        <div>
          <img src="./assets/icons/newmail.svg" alt="mail icon" class="normalIcons"/>
        </div>
        <p>jamwalab@live.com</p>
      </a>
      <a href="https://linkedin.com/in/abhishekj-21" target="_blank" rel="noreferrer" class="contactDetails">
        <div>
          <img src="./assets/icons/newlinkedin.svg" alt="linkedin icon" class="normalIcons"/>
        </div>
        <p>www.linkedin.com/in/abhishekj-21</p>
      </a>
      <a href="https://github.com/jamwalab" target="_blank" rel="noreferrer" class="contactDetails">
        <div>
          <img src="./assets/icons/github.svg" alt="github icon" class="whitenIcons"/>
        </div>
        <p>www.github.com/jamwalab</p>
      </a>
      <a href="https://www.instagram.com/jamwal_abi" target="_blank" rel="noreferrer" class="contactDetails">
        <div>
          <img src="./assets/icons/newinstagram.svg" alt="instagram icon" class="normalIcons"/>
        </div>
        <p>www.instagram.com/jamwal_abi</p>
      </a>
    </article>
  </div>
</section>