<header>
  <nav>
    <a href="/" class="site-logo"><img src="./assets/images/siteLogoAJPng.png" alt="sit logo with text A and J"></a>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>