<section class="displayCenter">
  <h3 class="nameHigh">PROJECTS</h3>
  <article class="projectSection">
    <a href="https://booklyst-project.herokuapp.com/" target="_blank" class="work">
      <article class="img-preview">
          <img src="./assets/images/booklyst.png" alt="snapshot of Booklyst website with link"/>
          <div class="img-text">
              <h3>Booklyst</h3>
              <p>React / Node / MongoDb</p>
          </div>
      </article>
    </a>
    <a href="https://floating-cove-91289.herokuapp.com/" target="_blank" class="work">
      <article class="img-preview">
          <img src="./assets/images/smartFix.png" alt="snapshot of Smart Fix website with link"/>
          <div class="img-text">
              <h3>Smart Fix</h3>
              <p>Node, Handlebars, MySQL</p>
          </div>
      </article>
    </a>
    <a href="https://hidden-cliffs-50551.herokuapp.com/" target="_blank" class="work">
      <article class="img-preview">
          <img src="./assets/images/etaTracker.png" alt="snapshot of the ETA tracker website with link"/>
          <div class="img-text">
              <h3>ETA Tracker</h3>
              <p>Node, Handlebars, Javascript</p>
          </div>
        </article>
    </a>
    <a href="https://uot-project-grp.github.io/project01-calorie-tracker/" target="_blank" class="work">
      <article class="img-preview">
          <img src="./assets/images/CalTracker.png" alt="snapshot of Note Taker with link"/>
          <div class="img-text">
              <h3>Calorie Tracker</h3>
              <p>JQuery, HTML, CSS</p>
          </div>
      </article>
    </a>
  </article>
</section>