<section class="displayCenter">
  <h3 class="nameHigh">SERVICES</h3>
  <article class="serviceList">
    <ul>
      <li>Freelancing</li>
      <li>General Programming</li>
      <li>Web Development</li>
      <li>Software Development</li>
      <li>Database Development</li>
      <li>Android Development</li>
    </ul>
  </article>
</section>